<!-- Navigation -->

<body class="">
  <div class="container dfc">

<section class="l1of5 ph4_m ph3 pb2 pt4_m pt3">

  <header class="row">
  <a href="{{ site.github.url }}/home" class="no-underline dib bg_brand-green light brand-green_hovered bg_light_hovered xxl_m xl pa2 fw8">HM</a>

  <nav class="dib pl4_m pl2 mv-auto">
    <ul class="">
      <li class="dib pr3"><a href="{{ site.github.url }}" class="no-underline">About</a></li>
      <li class="dib pr3"><a href="{{ site.github.url }}/readings" class="no-underline">Readings</a></li>
      <li class="dib pr3"><a href="{{ site.github.url }}/projects" class="no-underline">Projects</a></li>
    </ul>
  </nav>
</section>



</header>
